<!DOCTYPE html>
<html lang="en" th:fragment="renderBody(title, renderContent)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--  DYNAMIC TITLE PAGE-->
    <title th:text="${title}"></title>

    <!-- CSS LIBRARIES -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a class="h1" th:href="@{/account/login}">
                <b th:text="${title}"></b>
            </a>
        </div>
        <!-- DYNAMIC CONTENT -->
        <div class="row">
            <th:block th:replace="${renderContent}"></th:block>
        </div>
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
</body>
</html>