<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{template/authen :: renderBody('Sign in', ~{this::.card-body})}">

<head>
	<title></title>
</head>
<body>
	<div class="card-body">
		<div class="alert alert-success alert-dismissible" th:if="${next != null}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h5><i class="icon fas fa-check"></i> Notification</h5>
			<p th:text="${next}"></p>
		</div>

		<div class="alert alert-dismissible bg-maroon color-palette" th:if="${mistake != null}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color: white">×</button>
			<h5><i class="icon fas fa-ban"></i> Alert!</h5>
			<p th:text="${mistake}"></p>
		</div>

		<form th:action="@{/account/login-process}" method="POST">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Username" name="username">
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-envelope"></span>
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				<input type="password" class="form-control" placeholder="Password" name="password">
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<input type="submit" style="width: 100%" class="btn btn-primary btn-block" value="Sign in" />
			</div>
		</form>
		<p class="mb-0">
			<a th:href="@{/account/signup}" class="text-center">Register</a>
		</p>
	</div>
</body>


</html>